#!/usr/bin/env nextflow

/*
 * ---------------------------------------------------------
 *  Nextflow config file for module specific default options
 * ---------------------------------------------------------
 */

params {
    modules {
        'samplesheet_check' {
            args                  = ""
            publish_files         = false
        }
        'gffread_tx2pgene' {
            args                  = "--table transcript_id,gene_id"
            publish_files         = false
        }
        'gffread_kallisto_genemap' {
            args                  = "--table transcript_id,gene_id,gene_name"
            publish_files         = false
        }
        'gffread_gff3togtf' {
            args                  = '-T'
            publish_files         = false
        }
        'gffread_transcriptome' {
            args                  = ""
            publish_files         = false
        }
        'postprocess' {
            args                  = ""
            publish_dir           = "matrices"
        }
        'postprocess_transpose' {
            args                  = "--transpose"
            publish_dir           = "matrices"
        }
        'gunzip' {
            args                  = ""
            publish_files         = false
        }
        'salmon_alevin' {
            args                  = ""
        }
        'salmon_index' {
            args                  = ""
        }
        'alevinqc' {
            args                  = ""
        }
        'multiqc' {
            args                  = ""
        }
        'fastqc' {
            args                  = ""
        }
        'star_genomegenerate' {
            args                  = ""
        }
        'star_align' {
            args                  = "--readFilesCommand zcat --runDirPerm All_RWX --outWigType bedGraph --twopassMode Basic --outSAMtype BAM SortedByCoordinate"
        }
        'kallistobustools_ref' {
            args                  = ""
        }
        'kallistobustools_count' {
            args                  = "--filter"
        }
         'alevinfry_index' {
            args                  = ""
        }
        'alevinfry_permitlist' {
            args                  = ""
        }
        'alevinfry_collate' {
            args                  = "--compress"
        }
        'alevinfry_quant' {
            args                  = ""
        }
        'alevinfry_map' {
            args                  = ""
        }
    }
}
