#!/usr/bin/env nextflow

/*
 * ---------------------------------------------------------
 *  Nextflow config file for module specific default options
 * ---------------------------------------------------------
 */

params {
    modules {
        'samplesheet_check' {
            args                  = ""
            publish_files         = false
        }
        'gffread_tx2pgene' {
            args                  = "--table transcript_id,gene_id"
            publish_files         = false
        }
        'gffread_kallisto_genemap' {
            args                  = "--table transcript_id,gene_id,gene_name"
            publish_files         = false
        }
        'gffread_gff3togtf' {
            args                  = '-T'
            publish_files         = false
        }
        'gffread_transcriptome' {
            args                  = ""
            publish_files         = false
        }
        'postprocess' {
            args                  = ""
        }
        'gunzip' {
            args                  = ""
            publish_files         = false
        }
        'salmon_alevin' {
            args                  = ""
            publish_dir           = "salmon/alevin"
        }
        'salmon_index' {
            args                  = ""
            publish_dir           = "index/salmon"
        }
        'salmon_alevinqc' {
            args                  = ""
            publish_dir           = "salmon/alevin"
        }
        'multiqc' {
            args                  = ""
        }
        'fastqc' {
            args                  = ""
        }
        'star_genomegenerate' {
            args                  = ""
            publish_dir           = "index/star"
        }
        'star_align' {
            args                  = "--readFilesCommand zcat --runDirPerm All_RWX --outWigType bedGraph --twopassMode Basic --outSAMtype BAM SortedByCoordinate"
        }
        'kallistobustools_ref' {
            args                  = ""
            publish_dir           = "index/kallisto"
        }
        'kallistobustools_count' {
            args                  = "--filter"
            publish_dir           = "kallisto"
        }
        'build_splici_ref' {
            args                   = ""
            publish_files          = false
        }
         'salmon_alevinfry_index' {
            args                   = ""
            publish_dir            = "index/salmon/alevinfry"
        }
        'alevinfry_permitlist' {
            args                   = ""
            publish_files          = false
        }
        'alevinfry_collate' {
            args                   = "--compress"
            publish_files          = false
        }
        'alevinfry_quant' {
            args                   = ""
        }
        'cat_fastq' {
            args                   = ""
            publish_files          = false
        }
        'cellranger_mkref' {
            args                   = ""
            publish_dir            = "index/cellranger"
        }
        'cellranger_mkgtf' {
            args                   = "--attribute=gene_biotype:protein_coding \
                                      --attribute=gene_biotype:lincRNA \
                                      --attribute=gene_biotype:antisense \
                                      --attribute=gene_biotype:IG_LV_gene \
                                      --attribute=gene_biotype:IG_V_gene \
                                      --attribute=gene_biotype:IG_V_pseudogene \
                                      --attribute=gene_biotype:IG_D_gene \
                                      --attribute=gene_biotype:IG_J_gene \
                                      --attribute=gene_biotype:IG_J_pseudogene \
                                      --attribute=gene_biotype:IG_C_gene \
                                      --attribute=gene_biotype:IG_C_pseudogene \
                                      --attribute=gene_biotype:TR_V_gene \
                                      --attribute=gene_biotype:TR_V_pseudogene \
                                      --attribute=gene_biotype:TR_D_gene \
                                      --attribute=gene_biotype:TR_J_gene \
                                      --attribute=gene_biotype:TR_J_pseudogene \
                                      --attribute=gene_biotype:TR_C_gene"
            publish_dir             = "index/cellranger"
        }
        'cellranger_count' {
            args                    = ""
        }
    }
}
