def nf_core_scrnaseq_data = 'https://github.com/nf-core/test-datasets/raw/scrnaseq'

params {
    test_data_scrnaseq {
        samplesheet = "${nf_core_scrnaseq_data}/samplesheet.csv"

        reference {
            mouse_genome = "${nf_core_scrnaseq_data}/reference/GRCm38.p6.genome.chr19.fa"
            mouse_gtf = "${nf_core_scrnaseq_data}/reference/gencode.vM19.annotation.chr19.gtf"
        }
    }
}

includeConfig 'https://github.com/nf-core/modules/raw/master/tests/config/test_data.config'
