// def nf_core_scrnaseq_data = 'https://github.com/nf-core/test-datasets/raw/scrnaseq'
def nf_core_scrnaseq_data = 'https://raw.githubusercontent.com/fbdtemme/test-datasets/scrnaseq-dsl2'

params {
    test_data_scrnaseq {
        samplesheet = "${nf_core_scrnaseq_data}/samplesheet.csv"

        testdata {
            R1 = "${nf_core_scrnaseq_data}/testdata/S10_L001_R1_001.fastq.gz"
            R2 = "${nf_core_scrnaseq_data}/testdata/S10_L001_R2_001.fastq.gz"

            kallisto {
                R1 = "${nf_core_scrnaseq_data}/testdata/kallisto/SRR8599150_S1_L001_R1_001.sub5000.fastq.gz"
                R2 = "${nf_core_scrnaseq_data}/testdata/kallisto/SRR8599150_S1_L001_R2_001.sub5000.fastq.gz"
            }
        }

        reference {
            mouse_genome              = "${nf_core_scrnaseq_data}/reference/GRCm39.genome.chr19.fa"
            mouse_transcriptome       = "${nf_core_scrnaseq_data}/reference/GRCm39.genome.chr19.fa.transcriptome.fa"
            mouse_gtf                 = "${nf_core_scrnaseq_data}/reference/gencode.vM27.annotation.chr19.gtf"
            mouse_gff                 = "${nf_core_scrnaseq_data}/reference/gencode.vM27.annotation.chr19.gff3"
            tenx_V2_barcode_whitelist = "${nf_core_scrnaseq_data}/reference/10xv2_whitelist_sub50K.txt"
            mouse_tx2gene             = "${nf_core_scrnaseq_data}/reference/txp2gene.txt"

            alevinfry {
                splici_ref           =  "${nf_core_scrnaseq_data}/reference/alevinfry/GRCm38.p6.genome.chr19.fa_splici_ref/transcriptome_splici_fl95.fa"
                txp2gene             =  "${nf_core_scrnaseq_data}/reference/alevinfry/GRCm38.p6.genome.chr19.fa_splici_ref/transcriptome_splici_fl95_t2g_3col.tsv"
                txp2gene_3col        =  "${nf_core_scrnaseq_data}/reference/alevinfry/GRCm38.p6.genome.chr19.fa_splici_ref/transcriptome_splici_fl95_t2g.tsv"
            }
        }

        results {
            alevin                   = "${nf_core_scrnaseq_data}/results/S10_L001_alevin_results.tar.gz"
            alevinfry                = "${nf_core_scrnaseq_data}/results/S10_L001_alevinfry_results.tar.gz"
        }
    }
}

includeConfig 'https://github.com/nf-core/modules/raw/master/tests/config/test_data.config'
